h1 {
    color: red;
}
h2 {
    color: red;
}

/* TABLETS */
@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        color: yellow;
    }
    h2 {
        color: yellow;
    }
}

/* CELULARES */
@media (max-width: 767px) {
    h1 {
        color: green;
    }
    h2 {
        color: green;
    }
}