body{
    font-family:Tahoma;
    margin:0;
}
.ticker{
    padding:10px;
    border-bottom:1px solid #eee;
}
.carousel{
    position:relative;
    height:200px;
    display:flex;
    overflow:hidden;
    border:1px solid #ddd;
    margin:20px;
}
.slide{
    min-width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    transition:transform .5s;
}
