* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: white;
  color: #222;
  padding: 20px;
  transition: background-color 0.3s;
}

.dark {
  background-color: #222;
  color: white;
}

.cabecalho, .rodape {
  text-align: center;
  margin-bottom: 20px;
}

.conteudo {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.perfil {
  display: flex;
  gap: 20px;
  align-items: center;
}

.perfil img.foto {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.descricao {
  flex: 1;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  font-size: 1em;
}

/* Responsividade DM*/
@media screen and (max-width: 768px) {
  body {
    font-size: 1.2em;
  }

  .perfil {
    flex-direction: column;
    text-align: center;
  }

  .descricao {
    width: 100%;
  }

  input, button {
    font-size: 1.1em;
  }
}
